@tailwind base;
@tailwind components;
@tailwind utilities;

/* Можно добавить свои глобальные стили, если нужно */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
}
